.data-progression {
    display: flex;
    padding: 1rem;
}

.data-progression-header {
    display: flex;
    flex-direction: column;
}

.data-progression-body {
    flex: 1;
}

.data-progression-options {
    margin: 1rem 0;
    width: 100%;
    align-items: center;
    justify-content: center;
}